* {
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

/* THE INVISIBLE TRAP */
#interaction-trap {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.01);
  cursor: default;
}

#yt-player {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}
