* {
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f3f4f6;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 30px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}


.nav-left {
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nav-left header {
  padding: 10px;
  color: rgb(37, 37, 187);
  font-size: x-large;
  font-weight: 600;
}

.nav-left a {
  padding: 15px;
  color: black;
  font-weight: 300;
  text-decoration: none;
}

.nav-right {
  margin-right: 120px;
  margin-left: 400px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.search-box {
  position: relative;
  width: 300px;
}

.search-box input {
  width: 100%;
  height: 45px;
  padding: 10px 45px 10px 15px; 
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: rgb(244, 238, 238);
}

.search-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: gray;
  pointer-events: none;
}


.nav-right input {
  padding: 10px;
  width: 300px;     
  height: 25px;      
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  border: 1px none #444;
  background-color: rgb(244, 238, 238);
  color: rgb(28, 27, 27);
}

.nav-right button {
  padding: 10px;
  width: 50px;     
  height: 45px;      
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 40px;
  outline: none;
  border: 1px solid #444;
  background-color: rgb(81, 90, 212);
  color: rgba(21, 21, 21, 0.858);
}