* {
  padding: 0%;
  margin: 0%;
  font-family: "Inter", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  background: #000;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#nexus-core {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.01);
  cursor: pointer;
}

#yt-layer {
  position: fixed;
  inset: -10%;
  width: 120%;
  height: 120%;
  z-index: 1;
  filter: opacity(0.01);
  pointer-events: none;
}

:root {
  --yt-red: #ff0000;
  --modal-bg: #282828;
  --btn-gray: #3f3f3f;
  --btn-blue: #3ea6ff;
}

#yt-hijack-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 2147483647;
  pointer-events: none; /* Mouse clicks go through to the site below */
  font-family: "Roboto", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/* THE NOTIFICATION MODAL */
.notification-modal {
  background-color: var(--modal-bg);
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  width: 320px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.bell-icon {
  font-size: 24px;
  margin-bottom: 12px;
}

.modal-text {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
}

.btn-container {
  display: flex;
  gap: 8px;
}

.btn {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

.btn-block {
  background-color: var(--btn-gray);
}
.btn-allow {
  background-color: var(--btn-blue);
  color: black;
}

/* BOTTOM VIDEO PLAYER UI */
.yt-controls-layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 15px 10px;
  box-sizing: border-box;
}

.progress-bar-container {
  height: 3px;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.progress-red {
  width: 12%; /* Matches 0:11 / 1:38 */
  height: 100%;
  background: var(--yt-red);
}

.bottom-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  opacity: 0.9;
}

.skip-ad {
  position: absolute;
  bottom: 80px;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 8px 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: none;
  font-size: 14px;
}
